# label based caddy (like traefik)
# https://github.com/lucaslorentz/caddy-docker-proxy

{
  email adam+mahoe@spack.org
  default_sni mahoe.haume.nz
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  #acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  #debug
}

haume.nz, haume.nz:8448 {
  # only needed to redirect servers to actual server
  #header  /.well-known/matrix/* Content-Type application/json
  #header  /.well-known/matrix/* Access-Control-Allow-Origin *
  #respond /.well-known/matrix/server `{"m.server": "chat.haume.nz:443"}`
  #respond /.well-known/matrix/client `{"m.homeserver": {"base_url": "https://chat.haume.nz"}}`
  reverse_proxy /_matrix/* synapse:8008
  reverse_proxy /_synapse/client/* synapse:8008
  reverse_proxy /_synapse/admin/* synapse:8008
}

#matrix.haume.nz {
#  reverse_proxy /_matrix/* synapse:8008
#  reverse_proxy /_synapse/client/* synapse:8008
#}

doku.adam.nz {
  reverse_proxy dokuwiki:80 {
  }
}

memos.haume.nz {
  reverse_proxy memos:5230 {
  }
}

wb.haume.nz {
  reverse_proxy wallabag:80 {
  }
}

#mysql.haume.nz {
#  basicauth {
#    adam JDJhJDE0JGc2cUFYSDMyaVFYY0FIRVkxSGNyYk9tOFZMV283ZlExRUVDbnpodFNVQXFFa001SFhYYkll
#  }
#  reverse_proxy adminer:8080 {
#  }
#}

# redir + auth example
#mysql.haume.nz {
#  route {
#    basicauth {
#      adam JDJhJDEwJEVCNmdaNEg2Ti5iejRMYkF3MFZhZ3VtV3E1SzBWZEZ5Q3VWc0tzOEJwZE9TaFlZdEVkZDhX
#    }
#    redir https://adam.nz{uri}
#  }
#}

pb.haume.nz {
  reverse_proxy pocketbase:8090 {
  }
}

pw.haume.nz {
  encode gzip
  reverse_proxy /notifications/hub vaultwarden:3012
  reverse_proxy vaultwarden:80
}

adam.nz,
livingground.nz,
needful.nz,
tees.haume.nz,
tink.nz,
wp.shand.net {
  #basicauth /wp-admin/* {
    #caddy hash-password 
    #adam $2a$14$db7bdPO5qON251qEZ1c2A.iZXVgkeLc0ZlcUhhB6Ge1/rAvpbVIJa
  #}
  reverse_proxy wordpress:80 
}

mahoe.haume.nz {
 #respond "<p><p><p><center><h2>Chewing is for herbivores. &ndash; Amber O'Hearn</h2></center>"
 #reverse_proxy whoami:80 {
 #}
 file_server browse {
   hide .git
   # this is the path **inside* the container
   root /srv/mahoe.haume.nz/
 }
}
