# label based caddy (like traefik)
# https://github.com/lucaslorentz/caddy-docker-proxy

{
  email adam+mahoe@spack.org
  default_sni mahoe.haume.nz
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  #acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  #debug
}

# redir + auth example
#mysql.haume.nz {
#  route {
#    basicauth {
#      adam JDJhJDEwJEVCNmdaNEg2Ti5iejRMYkF3MFZhZ3VtV3E1SzBWZEZ5Q3VWc0tzOEJwZE9TaFlZdEVkZDhX
#    }
#    redir https://adam.nz{uri}
#  }
#}

pb.haume.nz {
  reverse_proxy pocketbase:8090 {
  }
}

pw.haume.nz {
  encode gzip
  reverse_proxy /notifications/hub vaultwarden:3012
  reverse_proxy vaultwarden:80
}

mahoe.haume.nz {
 #respond "<p><p><p><center><h2>Chewing is for herbivores. &ndash; Amber O'Hearn</h2></center>"
 #reverse_proxy whoami:80 {
 #}
 file_server browse {
   hide .git
   # this is the path **inside* the container
   root /srv/mahoe.haume.nz/
 }
}
